@model LoginUser
<form method="post" asp-area="Admin" asp-controller="Admin" asp-action="AddUser">
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="text-center">
        <div>
            <label asp-for="Name">Имя</label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
  
        <br>
        <div>
            <label asp-for="Login">Логин</label>
            <input asp-for="Login">
            <span asp-validation-for="Login"></span>
        </div>
  
        <br>
        <div>
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" type="password">
            <span asp-validation-for="Password"></span>
        </div>
        <br>

        <button class="btn btn-info mt-3" type="submit">Добавить</button>
        <br>
    </div>
</form>
