@model List<Role>
<div class="row">
	@await Html.PartialAsync("Index")
	@if(Model.Count == 0)
	{
		<div class="text-center">
			<h2>Список ролей пуст.</h2>
			<br>
			<a class="btn btn-primary" asp-controller="Admin" asp-action="AddRole">Добавить роль.</a>
		</div>
		
	}
	else
	{
		<div class="col-9 text-center">
			<h2>Список ролей</h2>
			<table width="500" class="table">
				@foreach(var role in Model)
				{
					<tr>
						<th>@role.Name</th>
						<td><a class="btn btn-primary" asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id">Удалить</a></td>
					</tr>
				}
			</table>
			<a class="btn btn-primary" asp-controller="Admin" asp-action="AddRole">Добавить роль.</a>
		</div>
	}
	
</div>
