@model LoginUser
<form method="post" asp-controller="login" asp-action="enter">
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="text-center">
        <div>
            <label asp-for="Login">Логин</label>
            <input asp-for="Login">
            <span asp-validation-for="Login"></span>
        </div>
  
        <br>
        <div>
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" type="password">
            <span asp-validation-for="Password"></span>
        </div>


        <div class="invisible">
            <label asp-for="Name">Пароль</label>
            <input asp-for="Name" type="text" value="-">    <!--В этой форме имя нам не нужно, но без него ругается, поэтому создаем невидимый див с любым именем-->
            <span asp-validation-for="Name"></span>
        </div>
        

        <input type="checkbox" name="checkBox">Запомнить меня?
        <br>
        <button class="btn btn-primary m-2" type="submit">Войти</button>
        <br>
        <a asp-controller="registry" asp-action="index" class="btn btn-dark">Зарегистрироваться</a>
    </div>
</form>
